In [1]:
import pandas as pd
import numpy as np

In [2]:
pwd

'C:\\MyFiles\\AI_Projects'

In [115]:
df = pd.read_csv('hotel_booking.csv')

In [108]:
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,7/1/2015,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,7/1/2015,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,Transient,75.0,0,0,Check-Out,7/2/2015,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,Transient,75.0,0,0,Check-Out,7/2/2015,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,Transient,98.0,0,1,Check-Out,7/3/2015,Linda Hines,LHines@verizon.com,713-226-5883,************5498

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 36 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
 32  name                            119390 non-null  object
 33  email                           119390 non-null  object
 34  phone-number                    119390 non-null  object
 35  credit_card                     119390 non-null  object
dtypes: float64(4), int64(16), object(16)
memory usage: 32.8+ MB

In [51]:
df.shape

(119390, 3)

In [52]:
df.isna().sum().sum()

488

In [58]:
df.isnull().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
name                                   0
email                                  0
phone-number                           0
credit_card                            0
repeated_name                     119390
is_duplicated                          0
dtype: int64

In [15]:
df = df.drop('company', axis=1)

In [16]:
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,7/1/2015,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,7/1/2015,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,Transient,75.0,0,0,Check-Out,7/2/2015,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,Transient,75.0,0,0,Check-Out,7/2/2015,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,Transient,98.0,0,1,Check-Out,7/3/2015,Linda Hines,LHines@verizon.com,713-226-5883,************5498

In [49]:
#6

In [ ]:
df['adr'].idxmax()

In [65]:
df.iloc[48515]

hotel                                             City Hotel
is_canceled                                                1
lead_time                                                 35
arrival_date_year                                       2016
arrival_date_month                                     March
arrival_date_week_number                                  13
arrival_date_day_of_month                                 25
stays_in_weekend_nights                                    0
stays_in_week_nights                                       1
adults                                                     2
children                                                 0.0
babies                                                     0
meal                                                      BB
country                                                  PRT
market_segment                                 Offline TA/TO
distribution_channel                                   TA/TO
is_repeated_guest                                          0
previous_cancellations                                     0
previous_bookings_not_canceled                             0
reserved_room_type                                         A
assigned_room_type                                         A
booking_changes                                            1
deposit_type                                      Non Refund
agent                                                   12.0
company                                                  NaN
days_in_waiting_list                                       0
customer_type                                      Transient
adr                                                   5400.0
required_car_parking_spaces                                0
total_of_special_requests                                  0
reservation_status                                  Canceled
reservation_status_date                            2/19/2016
name                                           Daniel Walter
email                             DanielWalter27@comcast.net
phone-number                                    865-280-5832
credit_card                                 ************6075
Name: 48515, dtype: object

In [77]:
df_dar = df['adr'].mean()
df_adr = "{:.2f}".format(df_dar)

print(df_adr)

101.83

In [79]:
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,7/1/2015,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,7/1/2015,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,Transient,75.0,0,0,Check-Out,7/2/2015,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,Transient,75.0,0,0,Check-Out,7/2/2015,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,Transient,98.0,0,1,Check-Out,7/3/2015,Linda Hines,LHines@verizon.com,713-226-5883,************5498

In [81]:
df_nights = df['stays_in_week_nights'].mean()
df_nights = "{:.2f}".format(df_nights)
print(df_nights)

2.50

In [136]:
df[['name','email','total_of_special_requests']] [df['total_of_special_requests'] == 5]

,name,email,total_of_special_requests
7860,Amanda Harper,Amanda.H66@yahoo.com,5
11125,Laura Sanders,Sanders_Laura@hotmail.com,5
14596,Tommy Ortiz,Tommy_O@hotmail.com,5
14921,Gilbert Miller,Miller.Gilbert@aol.com,5
14922,Timothy Torres,TTorres@protonmail.com,5
24630,Jennifer Weaver,Jennifer_W@aol.com,5
27288,Crystal Horton,Crystal.H@mail.com,5
27477,Brittney Burke,Burke_Brittney16@att.com,5
29906,Cynthia Cabrera,Cabrera.Cynthia@xfinity.com,5
29949,Sarah Floyd,Sarah_F@gmail.com,5
32267,Michelle Villa,Michelle.Villa@aol.com,5
39027,Nichole Hebert,Hebert.Nichole@gmail.com,5
39129,Lindsey Mckenzie,Lindsey.Mckenzie@att.com,5
39525,Ashley Edwards,Edwards.Ashley@yahoo.com,5
70114,Christopher Torres,Torres.Christopher@gmail.com,5
78819,Mrs. Tara Sullivan DVM,Mrs..DVM@xfinity.com,5
78820,Michaela Brown,MichaelaBrown@att.com,5
78822,Kurt Maldonado MD,KMD15@xfinity.com,5
97072,Jason Richardson,Jason.R@zoho.com,5
97099,Terri Hurley,THurley@xfinity.com,5
97261,Mrs. Caitlin Webb,Mrs._W@comcast.net,5
98410,Holly Arroyo,Arroyo_Holly@mail.com,5
98674,Denise Campbell,Denise_C@gmail.com,5
99887,Michael Smith,Michael.S42@aol.com,5
99888,Dr. Trevor Sellers,Dr._S@aol.com,5
101569,Kayla Murphy,Kayla.Murphy@yahoo.com,5
102061,Taylor Martinez,Taylor.Martinez@hotmail.com,5
109511,Charles Wilson,Charles_Wilson@yahoo.com,5
109590,Tyler Allison,Tyler.A@protonmail.com,5
110082,Matthew Bailey,Matthew_Bailey@aol.com,5
110083,Charlotte Acevedo,Charlotte_A@verizon.com,5
111909,Darrell Brennan,Brennan_Darrell51@hotmail.com,5
111911,Melinda Jensen,MelindaJensen@zoho.com,5
113915,Terry Arnold,Arnold.Terry@zoho.com,5
114770,Mary Nguyen,Nguyen.Mary@protonmail.com,5
114909,Lindsay Cuevas,Lindsay.Cuevas40@mail.com,5
116455,Cynthia Hernandez,CynthiaHernandez@xfinity.com,5
116457,Angela Hawkins,Angela_H@gmail.com,5
118817,Sue Lawson,Sue.L52@comcast.net,5
119161,Alyssa Richards,Alyssa_Richards@aol.com,5

In [22]:
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card,repeated_name
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,0.0,0,0,Check-Out,7/1/2015,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322,NaN
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,0.0,0,0,Check-Out,7/1/2015,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157,NaN
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,75.0,0,0,Check-Out,7/2/2015,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734,NaN
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,75.0,0,0,Check-Out,7/2/2015,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677,NaN
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,98.0,0,1,Check-Out,7/3/2015,Linda Hines,LHines@verizon.com,713-226-5883,************5498,NaN

In [41]:
df.groupby('hotel').max() ['name']

C:\Users\Hossein\AppData\Local\Temp/ipykernel_4632/4214772844.py:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.max is deprecated. In a future version, a TypeError will be raised. Before calling .max, select only columns which should be valid for the function.
  df.groupby('hotel').max() ['name']

hotel
City Hotel      Zoe Wu
Resort Hotel    Zoe Wu
Name: name, dtype: object

In [113]:
df = pd.DataFrame(df, columns= ['name','email'])

duplicated_name = df.pivot_table(columns=['name'], aggfunc='size')
print (duplicated_name.sort_values(ascending=False))

name
Robert Smith         48
Michael Johnson      48
Michael Smith        47
John Smith           46
Christopher Smith    44
                     ..
Heather Bowers        1
Heather Bowman        1
Heather Boyer         1
Heather Brady         1
Julia Floyd           1
Length: 81503, dtype: int64

In [47]:
df.sort_values(['babies','children'], ascending=False)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card,repeated_name,is_duplicated
46619,City Hotel,0,37,2016,January,3,12,0,2,2,...,0,1,Check-Out,1/14/2016,Nicholas Parker,Parker.Nicholas57@hotmail.com,440-692-0519,************4291,NaN,False
78656,City Hotel,0,11,2015,October,42,11,2,1,1,...,0,0,Check-Out,10/14/2015,Marc Robinson,Robinson_Marc@protonmail.com,934-726-2629,************1933,NaN,False
84429,City Hotel,0,1,2016,February,9,25,0,1,2,...,0,3,Check-Out,2/26/2016,Jonathan Williams,JWilliams@aol.com,355-274-8232,************9720,NaN,True
84591,City Hotel,0,4,2016,February,10,28,1,0,2,...,0,3,Check-Out,2/29/2016,Rachel Ward,RachelWard@yahoo.com,584-280-0134,************9334,NaN,True
107837,City Hotel,0,13,2017,March,11,18,0,1,2,...,1,2,Check-Out,3/19/2017,Albert French,French.Albert@mail.com,953-281-5231,************9947,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,0,2,Check-Out,9/7/2017,Ariana Michael,Ariana_M@xfinity.com,422-804-6403,************4482,NaN,False
40600,City Hotel,1,2,2015,August,32,3,1,0,2,...,0,1,Canceled,8/1/2015,Craig Campos,CraigCampos@mail.com,820-622-9854,************7219,NaN,False
40667,City Hotel,1,1,2015,August,32,5,0,2,2,...,0,1,Canceled,8/4/2015,David Murphy,David.Murphy94@yahoo.com,231-438-6733,************8925,NaN,True
40679,City Hotel,1,1,2015,August,32,5,0,2,3,...,0,2,Canceled,8/4/2015,Frank Burton,Frank.Burton@comcast.net,395-084-3601,************6190,NaN,False
41160,City Hotel,1,8,2015,August,33,13,2,5,2,...,0,1,Canceled,8/9/2015,Jerry Roberts,JRoberts@hotmail.com,979-355-3554,************5648,NaN,False

In [48]:
df.sort_values('children', ascending=False)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card,repeated_name,is_duplicated
328,Resort Hotel,1,55,2015,July,29,12,4,10,2,...,0,1,No-Show,7/12/2015,Jamie Ramirez,Ramirez_Jamie22@aol.com,268-823-5667,************7600,NaN,False
116832,City Hotel,0,14,2017,July,30,24,1,1,0,...,0,3,Check-Out,7/26/2017,Marcus Brown,Marcus_B69@hotmail.com,842-864-2793,************8225,NaN,True
40984,City Hotel,0,1,2015,August,33,10,1,1,0,...,0,0,Check-Out,8/12/2015,Susan Lewis,Susan.Lewis46@aol.com,655-411-8103,************6852,NaN,True
119070,City Hotel,0,0,2017,August,35,29,0,1,2,...,0,1,Check-Out,8/30/2017,Pamela Castro,PamelaCastro@yandex.com,596-105-6960,************6430,NaN,True
106387,City Hotel,0,3,2017,February,8,22,0,3,2,...,0,2,Check-Out,2/25/2017,Lauren Mendez,Lauren.M@att.com,708-319-2917,************4279,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,0,2,Check-Out,9/7/2017,Ariana Michael,Ariana_M@xfinity.com,422-804-6403,************4482,NaN,False
40600,City Hotel,1,2,2015,August,32,3,1,0,2,...,0,1,Canceled,8/1/2015,Craig Campos,CraigCampos@mail.com,820-622-9854,************7219,NaN,False
40667,City Hotel,1,1,2015,August,32,5,0,2,2,...,0,1,Canceled,8/4/2015,David Murphy,David.Murphy94@yahoo.com,231-438-6733,************8925,NaN,True
40679,City Hotel,1,1,2015,August,32,5,0,2,3,...,0,2,Canceled,8/4/2015,Frank Burton,Frank.Burton@comcast.net,395-084-3601,************6190,NaN,False
41160,City Hotel,1,8,2015,August,33,13,2,5,2,...,0,1,Canceled,8/9/2015,Jerry Roberts,JRoberts@hotmail.com,979-355-3554,************5648,NaN,False